.btn-mentor {
  margin-top: 24px;
  // page is full expanded
  margin-left: 190px;

  @media (max-width: map-get($grid-breakpoints, "xl")) {
    margin-left: 60px;
  }

  @media (max-width: map-get($grid-breakpoints, "lg")) {
    margin-left: 40px;
  }

  @media (max-width: map-get($grid-breakpoints, "md")) {
    margin-left: 20px;
  }

  @media (max-width: map-get($grid-breakpoints, "sm")) {
    margin-left: 20px;
  }
}

.resource-display{
  overflow-wrap: break-word;  
  word-wrap: break-word; 
  word-break: break-word;

  @media (max-width: map-get($grid-breakpoints, "lg")) {
    padding-right: 32px;
  }
}
