.cv-course-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: $minimized-sidebar-width;
  padding-top: $desktop-header-height;
  padding-bottom: 0px;

  @media (max-width: map-get($grid-breakpoints, "xl")) {
    padding-top: $mobile-header-height;
    width: 100%;
    z-index: 1;
  }

  &.disable-app-header {
    padding-top: 0px;
  }
}

.sidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sidebar-content {
  overflow-y: scroll;
  height: 100%;
  padding-right: 42px;
  margin-top: 24px;

  @media (max-width: map-get($grid-breakpoints, "xl")) {
    padding-right: 0px;
  }
}

.sidebar-content::-webkit-scrollbar {
  width: 8px;
}

.sidebar-content:hover::-webkit-scrollbar-track {
  background-color: transparent;
}

.sidebar-content:hover::-webkit-scrollbar-thumb {
  background-color: #335974;
  border-radius: 8px;
}

.white-background {
  background: white;
  height: 100%;
  padding-top: 38px;
}

.sidebar-header {
  background-color: #F0F0F0;
  padding: 16px;
  padding-right: 24px;
  display: flex;
  gap: 8px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  width: calc($extended-sidebar-width - 16px);

  @media (max-width: map-get($grid-breakpoints, "xl")) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    &> :last-child {
      display: none;
    }
  }

  button {
    background: #F0F0F0;
    border: 1px solid #002F51;
    border-radius: 5px;
    font-size: 12px;
    flex-grow: 1;
    color: #002F51;
    cursor: pointer;
    padding: 6px;
    font-weight: 400;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    &:last-of-type {
      margin-right: 40px;

      @media (max-width: map-get($grid-breakpoints, "xl")) {
        margin-right: 0px;
      }
    }
  }


}

.cv-course-sidebar-mobile-closed {
  @media (max-width: map-get($grid-breakpoints, "xl")) {
    display: none;
  }
}

.cv-course-sidebar-extended {
  width: $extended-sidebar-width;

  @media (max-width: map-get($grid-breakpoints, "xl")) {
    width: 100%;
  }
}

.cv-course-content {
  padding-left: $minimized-sidebar-width;

  @media (max-width: map-get($grid-breakpoints, "xl")) {
    padding-left: 0px;
  }
}

.cv-course-content-sidebar-extended {
  padding-left: $extended-sidebar-width;

  @media (max-width: map-get($grid-breakpoints, "xl")) {
    padding-left: 0px;
  }
}

.carrot {
  padding: 4px;
  height: 24px;
  width: 24px;
  margin-right: 6px;
}

.carrot-down {
  padding: 3px;
  height: 24px;
  width: 24px;
  margin-right: 6px;
}

.sidebar-item-container {
  position: relative;
  background-color: #ffffff;
}

button.sidebar-item-container {
  background: none;
  border: 0;
  width: 100%;
  padding: 0px;
}

.sidebar-item-header {
  display: flex;
  align-items: center;
  padding: 16px;
  cursor: pointer;
  background: #FFFFFF;
  border: 0;
  text-align: left;
  justify-content: space-between;
  width: 100%;

  .sidebar-item-title {
    flex-grow: 0;
  }
}

.sidebar-item-header.section {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
}

.sidebar-item-header.sequence {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  padding-left: 32px;
}

.sidebar-item-header.unit {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  padding-left: 72px;
}

.sidebar-item-header svg:last-of-type {
  flex-shrink: 0;
}

.sidebar-item-header.active {
  background-color: #E5EAEE;
}

.sidebar-item-header.sequence svg:last-of-type {
  height: 16px;
  width: 16px;
}

.sidebar-item-header.unit svg:last-of-type {
  height: 16px;
  width: 16px;
}

.sidebar-item-header.current.active.completed svg {
  color: #599D61;
}

.sidebar-item-header.active.completed svg {
  color: #2F8439;
}

.sidebar-item-header.completed svg {
  color: #2F8439;
}

.sidebar-item-header.current.active.pending svg {
  color: #FFFFFF;
}

.sidebar-item-header.active.pending svg {
  color: #A3A3A3;
}

.sidebar-item-header.pending svg {
  color: #C2C2C2;
}

.sidebar-item-header.current.active.in-progress svg {
  color: #FFFFFF;
}

.sidebar-item-header.active.in-progress svg {
  color: #002F51;
}

.sidebar-item-header.in-progress svg {
  color: #858585;
}


.sidebar-item-header.current {
  background-color: #002F51;
  width: calc(100% + 32px);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  color: #FFFFFF;

  @media (max-width: map-get($grid-breakpoints, "xl")) {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.sidebar-item-header> :last-child {
  margin-left: auto;
}


.sidebar-item-collapsable {
  max-height: 1500px;
  transition: max-height 0.6s ease;
}

.sidebar-item-collapsable.collapsed {
  max-height: 0;
  overflow: hidden;
}