.footer {
  background-color: $primary-100;
  font-size: $h6-font-size;

  .footer-section-container {
    display: flex;
    padding: 8px 40px;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    img {
      max-height: 24px;
    }

    .footer-links-container {
      display: flex;
      column-gap: 12px;
      flex-wrap: wrap;
    }
  }

  .footer-bottom-container {
    padding-top: 0px;

    @media (max-width: map-get($grid-breakpoints, "md")) {
      flex-direction: column;
    }
  }

  .branded-link {
    color: $primary-500;
    font-weight: $font-weight-bold;
  }

  .info-link {
    color: $info-500;
    font-weight: $font-weight-bold;
    font-family: $font-family-sans-serif;
  }

  .link-divider {
    color: $info-500;
  }
}