.footer {
  background-color: $primary-100;
  font-size: $h5-font-size;

  .footer-section-container {
    display: flex;
    padding: 15px 40px;
    justify-content: space-between;
    gap: 8px;

    .footer-links-container {
      display: flex;
      column-gap: 12px;
      flex-wrap: wrap;
    }
  }

  .footer-bottom-container {
    @media (max-width: map-get($grid-breakpoints, "md")) {
      flex-direction: column;
    }
  }

  .branded-link {
    color: $primary-500;
    font-weight: $font-weight-bold;
  }

  .info-link {
    font-weight: $font-weight-bold;
  }

  .link-divider {
    color: $info-500;
  }
}