#root > header {
  position: fixed;
  top: 0;
  width: 100%;
}

#root > footer {
  width: 100%;
  padding-left: $minimized-sidebar-width + 8px;
  @media (max-width: map-get($grid-breakpoints, "xl")) {
    padding-left: 0px;
  }

  &.footer-sidebar-extended {
    padding-left: $extended-sidebar-width;
    @media (max-width: map-get($grid-breakpoints, "xl")) {
      padding-left: 0px;
    }
  }
}

#root > .layout-body {
  padding-top: $desktop-header-height;
  padding-bottom: 0px;

  @media (max-width: map-get($grid-breakpoints, "xl")) {
    padding-top: $mobile-header-height;
  }

  &.disable-app-header {
    padding-top: 0px;
  }
}
