.course-player-main-content {
  background-color: $primary-300;
  min-height: calc(100vh - $desktop-footer-height - $desktop-header-height);
  padding: 1rem 2rem 3.25rem 4rem;

  .course-player-sequence-container {
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    background-color: $white;
    box-shadow: 0rem 0.25rem 0.5rem 0rem $shadow-color;
  }

  &.disable-desktop-header {
    min-height: calc(100vh - $desktop-footer-height);
  }

  @media (max-width: map-get($grid-breakpoints, "xl")) {
    padding: 0px !important;

    .course-player-sequence-container {
      padding: 0rem;
      border-radius: 0rem;
      box-shadow: none;
    }

    &.disable-desktop-header {
      min-height: calc(100vh - $mobile-footer-height - $mobile-header-height);
    }
  }

  @media (max-width: map-get($grid-breakpoints, "lg")) {
    // Makes sure footer is always at least at the bottom of the screen:
    min-height: calc(100vh - $mobile-footer-height - $mobile-header-height);
  }
}
