@import "@edx/brand/paragon/fonts.scss";
@import "@edx/brand/paragon/variables.scss";
@import "@edx/paragon/scss/core/core.scss";
@import "@edx/brand/paragon/overrides.scss";
@import "variables.scss";
@import "features/layout/Layout.scss";
@import "features/course-view/CourseView.scss";
@import "features/course-player/CoursePlayer.scss";
@import "features/course-player/sequence-container/SequenceContainer.scss";
@import "features/header/Header.scss";
@import "features/footer/Footer.scss";

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-background;

  main {
    flex-grow: 1;
  }

  h1 {
    @media (max-width: map-get($grid-breakpoints, "sm")) {
      size: 24px;
    }
  }
}
