$shadow-color: #0000001a;

$desktop-header-height: 63.11px;
$desktop-footer-height: 104px;

$mobile-header-height: 63.11px;
$mobile-footer-height: 124px;

$extended-sidebar-width: 457px;
$minimized-sidebar-width: 42px;
